.threadCard {
    background-color: #151618;
    border-radius: 8px;
    padding-left: 20px;
}

.threadHeader {
    display: flex;
    justify-content: space-between;
}

.threadUser {
    display: flex;
    align-items: center;
    gap: 15px;
}

.userName {
    margin: 0;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

.timeStamp {
    color: #777;
    font-size: 14px;
}

.threadTopic {
    background-color: rgb(137, 116, 243);
    border-radius: 8px;
    color: #fff;
    margin: 10px;
}

.topicName {
    font-size: 14px;
    margin: 0;
    padding: 5px 10px;
}

.threadContent {
    padding: 0 20px;
}

.content {
    font-size: 17px;
}

.threadFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.threadLikes {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjusted margin */
}

.likeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.heartIcon {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px; /* Adjusted margin */
}

.numLikes {
    margin: 0;
    margin-left: 5px; /* Reset margin */
}

.threadComments {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px; /* Adjusted margin */
}

.commentIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.numComments {
    margin: 0;
    margin-left: 5px;
}